* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-logo{
    height: 3rem;
}

.instagram-continue{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
    
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.link-blue{
    color: #0095f6;
}

.download-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./img/google-play.png);
}

.app-download:nth-child(2){
    background-image: url(./img/appstore.png);
}

/* Media querie */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: #fff;
    }

    .group{
        border:1px solid transparent;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-continue{
        width: 100%;
    }
}